@use "~/styles/global.scss" as master;

html {
  height: 100vh;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-size: 16px;
  background: #e0e0e0;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.45rem;
  font-variant: small-caps;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: master.$main;

  &:visited {
    color: master.$main;
  }

  &:hover {
    font-weight: bold;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px #505050 solid;
  margin: 1rem 0;

  a:hover {
    font-weight: normal;
  }

  &:hover {
    background: master.$yellow;
    cursor: pointer;
  }
}
