.container {
  justify-content: center;
  align-items: center;

  width: 80%;
  margin: 0 auto;
  padding: 0;

  button.register {
    font-size: 0.8rem;
  }

  .server {
    max-width: 100%;
    height: auto;

    padding: 4rem 0;
  }
}
